/* Base Styles */
html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* Utility Classes */
.hidden {
  display: none;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

/* Grid Layouts */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}